extends layout 
 
block content 
  h1= title 
        if(toShow == null)
            h2 No instance to view details
        else
            - let popcornid = toShow._id 
            - let popcorn_flavour = toShow.popcorn_flavour 
            - let popcorn_cost = toShow.popcorn_cost 
            - let popcorn_quantity = toShow.popcorn_quantity

            div 
                div.row 
                    div(class='popcornAttr mr-3') popcorn id: 
                    div(class='values') #{popcornid} 
                div.row 
                    div(class='popcornAttr mr-3') popcorn flavour: 
                    div(class='values') #{popcorn_flavour} 
                div.row 
                    div(class='popcornAttr mr-3') popcorn quantity: 
                    div(class='values') #{popcorn_quantity} 
                div.row 
                    div(class='popcornAttr mr-3') popcorn cost: 
                    div(class='values') #{popcorn_cost}