extends layout

block content
  h1= title
  p Welcome to #{title}
  - let items = results
  - let des = `dispatch(\"/popcorn/create\")`
  button.btn( class="btn-secondary m-1" onclick= des) Create
  div(class="container-fluid")
    div(class="col m-1")
      each popcorn, index in items
          - let destination = `dispatch(\"/popcorn/update?id=${popcorn._id}\")`
          - let destination1 = `dispatch(\"/popcorn/detail?id=${popcorn._id}\")`
          - let destination2 = `dispatch(\"/popcorn/delete?id=${popcorn._id}\")`
          div(class="row-sm-2" class="m-1")  Item #{popcorn.popcorn_flavour}(#{popcorn.popcorn_quantity}) is $#{popcorn.popcorn_cost}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          button.btn( class="btn-success m-1", onclick= destination1) Details
          button.btn( class="btn-danger m-1", onclick= destination2) Delete
  
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }